{% extends "layout.html" %}
{%  block body %}
    <div class ="add_post">
        <div class="container">
            <div class="row">
                <div class= "col-md-4 card_image" >
                    <figure><img src="static/memories.jpg" ></figure>
                </div>
                <div class= "col-md-7 card">
                    <div class="row px-3"> <img class="profile-pic mr-3" src="{{ "/static/profile_images/" + current_user.profile_image }}">
                        <div class="flex-column">
                            <h3 class="mb-0 font-weight-normal add_post_name">{{ current_user.name }}</h3>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="row px-3 form-group">
                            <textarea class="text-muted bg-light mt-4 mb-3" placeholder="write something about your photo" name="post_description" required ></textarea>
                        </div>
                        <div>
                            <h6>Choose your picture </h6>
                            <input type="file" name="post_picture" required>
                        </div>
                        <div class="row px-3">
                            <p class="zmdi zmdi-camera-monochrome-photos"></p>
                            <input type="submit" class="form-submit" value="add post"  />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}