<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>OurInsta</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
    <body>
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="/static/vendor/jquery/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
         <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
         <script src="/static/js/main.js"></script>
    </body>
</html>